.container {
    display: flex;
    flex-direction: row;
}

.navWrapper {
    max-width: 320px;
}

.navItem {
    height: 64px;
}

.navLink {
    color: var(--link-color);
}

.activeLink {
    color: var(--link-active);
}

.navLink:visited {
    //color: red;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline
}

.inputWrapper {
    margin-bottom: 24px;
}