.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}