.inputWrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}