.header {
    display: flex;
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    max-width: 1240px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    border-radius: 40px;
}

.list > .item {
    margin-right: 8px;
}

.item:last-of-type {
    margin-right: 0;
}

.link {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: var(--link-color);
}

.link:hover {
    color: var(--link-active);
}

.logo {
    width: auto;
    height: 40px;
}

.activeLink {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: var(--link-active);
}