.wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 350px);
}

.innerList {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 550px);
    overflow-y: auto;
}

.innerList > .item {
    margin-bottom: 16px;
}

.innerList > .item:last-of-type {
    margin-bottom: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.itemPlaceHolderContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPlaceHolderText {

}

.priceBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.priceIcon {
    display: flex;
}

.priceIcon svg {
    width: 33px;
    height: 33px;
}